@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fafeff;
    overflow: hidden;
}

.background span {
    width: 4vmin;
    height: 4vmin;
    border-radius: 4vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 29;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #e6f9ef;
    top: 100%;
    left: 38%;
    animation-duration: 120s;
    animation-delay: -194s;
    transform-origin: -19vw -18vh;
    box-shadow: -8vmin 0 1.1435738914784186vmin currentColor;
}

.background span:nth-child(1) {
    color: #98c7cd;
    top: 48%;
    left: 92%;
    animation-duration: 118s;
    animation-delay: -117s;
    transform-origin: 14vw 6vh;
    box-shadow: -8vmin 0 1.9615165807805612vmin currentColor;
}

.background span:nth-child(2) {
    color: #e6f9ef;
    top: 40%;
    left: 23%;
    animation-duration: 147s;
    animation-delay: -119s;
    transform-origin: -4vw -2vh;
    box-shadow: 8vmin 0 1.298661031393121vmin currentColor;
}

.background span:nth-child(3) {
    color: #c9d6e8;
    top: 73%;
    left: 42%;
    animation-duration: 58s;
    animation-delay: -45s;
    transform-origin: -11vw -7vh;
    box-shadow: -8vmin 0 1.4336364862514794vmin currentColor;
}

.background span:nth-child(4) {
    color: #98c7cd;
    top: 66%;
    left: 58%;
    animation-duration: 75s;
    animation-delay: -21s;
    transform-origin: -15vw 15vh;
    box-shadow: 8vmin 0 1.536525658971391vmin currentColor;
}

.background span:nth-child(5) {
    color: #e6f9ef;
    top: 92%;
    left: 60%;
    animation-duration: 189s;
    animation-delay: -42s;
    transform-origin: 21vw 16vh;
    box-shadow: -8vmin 0 1.0136428142787797vmin currentColor;
}

.background span:nth-child(6) {
    color: #98c7cd;
    top: 46%;
    left: 67%;
    animation-duration: 151s;
    animation-delay: -66s;
    transform-origin: -21vw 4vh;
    box-shadow: 8vmin 0 1.893694448083906vmin currentColor;
}

.background span:nth-child(7) {
    color: #e6f9ef;
    top: 57%;
    left: 90%;
    animation-duration: 70s;
    animation-delay: -199s;
    transform-origin: 19vw -2vh;
    box-shadow: 8vmin 0 1.1453233432095433vmin currentColor;
}

.background span:nth-child(8) {
    color: #98c7cd;
    top: 89%;
    left: 8%;
    animation-duration: 64s;
    animation-delay: -31s;
    transform-origin: 16vw 9vh;
    box-shadow: -8vmin 0 1.282759810033536vmin currentColor;
}

.background span:nth-child(9) {
    color: #98c7cd;
    top: 79%;
    left: 35%;
    animation-duration: 166s;
    animation-delay: -143s;
    transform-origin: 10vw -17vh;
    box-shadow: -8vmin 0 1.266552068577427vmin currentColor;
}

.background span:nth-child(10) {
    color: #98c7cd;
    top: 34%;
    left: 6%;
    animation-duration: 70s;
    animation-delay: -141s;
    transform-origin: 15vw -21vh;
    box-shadow: 8vmin 0 1.8215734988450738vmin currentColor;
}

.background span:nth-child(11) {
    color: #e6f9ef;
    top: 44%;
    left: 85%;
    animation-duration: 184s;
    animation-delay: -188s;
    transform-origin: 13vw -8vh;
    box-shadow: 8vmin 0 1.4553672799903246vmin currentColor;
}

.background span:nth-child(12) {
    color: #e6f9ef;
    top: 27%;
    left: 62%;
    animation-duration: 134s;
    animation-delay: -164s;
    transform-origin: -13vw 20vh;
    box-shadow: 8vmin 0 1.136505363518497vmin currentColor;
}

.background span:nth-child(13) {
    color: #e6f9ef;
    top: 85%;
    left: 42%;
    animation-duration: 16s;
    animation-delay: -177s;
    transform-origin: 4vw 25vh;
    box-shadow: 8vmin 0 1.9668494001453733vmin currentColor;
}

.background span:nth-child(14) {
    color: #e6f9ef;
    top: 15%;
    left: 87%;
    animation-duration: 62s;
    animation-delay: -57s;
    transform-origin: -9vw 7vh;
    box-shadow: -8vmin 0 1.0594531000777718vmin currentColor;
}

.background span:nth-child(15) {
    color: #c9d6e8;
    top: 68%;
    left: 10%;
    animation-duration: 202s;
    animation-delay: -92s;
    transform-origin: -14vw 1vh;
    box-shadow: 8vmin 0 1.3563208489664118vmin currentColor;
}

.background span:nth-child(16) {
    color: #98c7cd;
    top: 62%;
    left: 80%;
    animation-duration: 41s;
    animation-delay: -197s;
    transform-origin: 1vw -14vh;
    box-shadow: 8vmin 0 1.1442499846013514vmin currentColor;
}

.background span:nth-child(17) {
    color: #c9d6e8;
    top: 6%;
    left: 82%;
    animation-duration: 118s;
    animation-delay: -184s;
    transform-origin: 24vw -8vh;
    box-shadow: -8vmin 0 1.3148597405129299vmin currentColor;
}